registry=https://pkgs.dev.azure.com/pw29803/swapi-caching-2nd/_packaging/feed_npmrc/npm/registry/ 
                        
always-auth=true

# ; begin auth token
# //pkgs.dev.azure.com/pw29803/swapi-caching-2nd/_packaging/feed_npmrc/npm/registry/:username=pw29803
# //pkgs.dev.azure.com/pw29803/swapi-caching-2nd/_packaging/feed_npmrc/npm/registry/:_password=dWhzbmZucjZyenR1N3A2NnFxNTJmamdmbGF4bHdkcGpsbmIzdWx6Y3plcDV0Y3R5N216YQ==
# //pkgs.dev.azure.com/pw29803/swapi-caching-2nd/_packaging/feed_npmrc/npm/registry/:email=npm requires email to be set but doesn't use the value
# //pkgs.dev.azure.com/pw29803/swapi-caching-2nd/_packaging/feed_npmrc/npm/:username=pw29803
# //pkgs.dev.azure.com/pw29803/swapi-caching-2nd/_packaging/feed_npmrc/npm/:_password=dWhzbmZucjZyenR1N3A2NnFxNTJmamdmbGF4bHdkcGpsbmIzdWx6Y3plcDV0Y3R5N216YQ==
# //pkgs.dev.azure.com/pw29803/swapi-caching-2nd/_packaging/feed_npmrc/npm/:email=npm requires email to be set but doesn't use the value
# ; end auth token